* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

button {
  margin: 0;
}

body {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", sans-serif;
  line-height: 1.5;
  color: #2a2a2a;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

.header {
  background-color: rgb(167, 255, 167);
  /* border: 1px solid grey; */
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  padding: 15px 0;
  color: rgb(224, 28, 123);
}

.logo-link {
  padding: 10px;
  font-size: 30px;
  background-color: rgb(251, 251, 4);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.12), 0px 3px 3px rgba(0, 0, 0, 0.06),
    1px 3px 3px rgba(0, 0, 0, 0.16);
}

/* .logo-link {
    display: inline-block;
    font-size: 35px;
  } */

.actions {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.input {
  height: 30px;
  padding: 0 10px;
}

.title {
  margin-top: 15px;
}

.btn {
  margin-left: 10px;
  min-height: 30px;
  font-family: inherit;
  font-size: 16px;
  padding: 5px 20px;
  border: 3px;

  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);

  transition-property: opacity, box-shadow;
  transition-duration: 150ms;
  transition-timing-function: var(--timing);

  cursor: pointer;
}

.btn:hover,
.btn:focus {
  box-shadow: 0px 5px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 5px 0px rgba(0, 0, 0, 0.14), 0px 2px 5px 0px rgba(0, 0, 0, 0.12);
}

.btn-remove {
  background-color: red;
  color: #fff;
}

.btn-add {
  background-color: green;
  color: #fff;
}

.titleColor {
  color: rgb(147, 147, 1);
}

.transparent {
  opacity: 0.8;
}

.list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  /* align-items: flex-start; */
  align-content: flex-start;

  max-width: 300px;
  width: 100%;

  margin-top: 10px;
}

.list-item {
  padding: 10px;
  border: 1px solid rgb(167, 255, 167);

  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);

  cursor: pointer;

  transition-property: box-shadow;
  transition-duration: 150ms;
  transition-timing-function: var(--timing);
}

.list-item + .list-item {
  margin-top: 10px;
}

.list-item:hover {
  box-shadow: 0px 5px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 5px 0px rgba(0, 0, 0, 0.14), 0px 2px 5px 0px rgba(0, 0, 0, 0.12);
}

.action__btns {
  display: flex;
}
