body.show-modal .backdrop {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}

body.show-modal .modal {
  transform: scale(1);
}

body.show-modal .hiddenEl {
  opacity: 0;
  visibility: hidden;

  /* transition: opacity 200ms ease-in-out, visibility 200ms ease-in-out; */
}

body.show-modal .message {
  position: relative;
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}

.container {
  max-width: 1240px;
  padding: 30px;
  margin: 0 auto;
}
/* body.show-modal  {
  opacity: 0;
} */

/* .message {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  font-size: 58px;
} */

.backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;

  background-color: rgba(0, 0, 0, 0.3);

  pointer-events: none;
  visibility: hidden;
  opacity: 1;
  transition: opacity 200ms ease-in-out, visibility 200ms ease-in-out;
}

.modal {
  padding: 15px;
  max-width: 500px;
  width: 100%;
  min-height: 200px;

  background-color: #fff;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  border-radius: 10px;

  transform: scale(1.1);
  transition: transform 200ms ease-in-out;
}
