:root {
  --timing: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", sans-serif;
  line-height: 1.5;
  color: #2a2a2a;
}

h4 {
  margin: 0;
}

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

.magic-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);

  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--timing);
}

.form-field + .magic-button {
  margin-top: 20px;
}

.magic-button:hover {
  background-color: rgba(250, 235, 215, 0.9);
  color: rgba(219, 47, 47, 0.574);
  box-shadow: 0px 5px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 5px 0px rgba(0, 0, 0, 0.14), 0px 2px 5px 0px rgba(0, 0, 0, 0.12);
}

.magic-button + .magic-button {
  margin-left: 10px;
}

.magic-button > .icon {
  display: inline-block;
  margin-left: 10px;
  font-size: 24px;
}

.form-container {
  max-width: 300px;
  padding: 10px 20px;
  border: 1px solid rgba(33, 33, 33, 0.4);
  border-radius: 5px;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.form-input-events {
  display: flex;
  flex-direction: column;
}

.form-field.register {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-field label {
  margin-bottom: 5px;
}

.register-form__input {
  height: 25px;
  /* width: 100%; */
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-shadow: 0px 1px 1px -2px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
